bin/
logs/

*.class
*.java~

spec/mjparser_astbuild.cup

src/rs/ac/bg/etf/pp1/ast
src/rs/ac/bg/etf/pp1/sym.java
src/rs/ac/bg/etf/pp1/Yylex.java
src/rs/ac/bg/etf/pp1/MJParser.java

test/program.obj
test/test_codegen2.mj
input.txt